html {
  height: 100%;

  --bg-color: #262626;
  --light-bg-color: #3b3a3a;
  --box-color: #535050;
  --text-color: #EEE;
  --dark-content-bg-color: #303030;
  --hovered-box-color: #605f5f;
  --content-bg-color: #333;
  --shadow-color: #202020;
  --border-color: #525252;
  --accept-color: #3f51b5;
  --accept-color-hover: #5c6bc0;
  --accept-color-2: #009688;
  --accept-color-2-hover: #26a69a;
}

body {
  background-color: var(--bg-color);
  height: 100%;
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  font-family: "Segoe UI", sans-serif;
}

main {
  width: 100%;
}

.in-text-link {
  margin-left: 2px;
}

.in-text-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content-section {
  background-color: var(--content-bg-color);
  margin-top: 18px;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px var(--shadow-color);
}

#main-container {
  width: auto;
  left: 162.23px;
  right: 0;
  position: absolute;
}

p {
  font-size: 12px;
}

.small-text {
  font-size: 11px;
  opacity: 80%;
}

a {
  color: #EEE;
  text-decoration: none;
}

.content-spacing {
  padding: 4px;
  margin: 8px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.horizontal-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row-flexbox {
  display: flex;
  flex-direction: row;
}

.column-flexbox {
  display: flex;
  flex-direction: column;
}

select {
  margin-left: 2px;
  margin-right: 2px;
  padding: 4px;
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--box-color);
  border: 0;
}

select:hover {
  background-color: var(--hovered-box-color);
}

.space-filler-1 {
  width: 2%;
}

.space-filler-2 {
  width: 20%;
}

.space-filler-3 {
  width: 90%;
}

.space-height-filler-3 {
  height: 90%;
}

.popup-window-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:row;
  z-index: 10;
  /* background-color: var(--bg-color); */
  left: 0;
  right: 0;
  top: 0;
}

.popup-window {
  opacity: 100%;
  position: absolute;
  left: 20%;
  top: 3.5%;
  right: 20%;
  bottom: 2%;
  padding: 16px;
  background-color: var(--light-bg-color);
  border-radius: 4px;
  box-shadow: 4px 4px 24px var(--shadow-color);
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 2px;
}

.center-text {
  text-align: center;
}

.popup-btns {
  min-width: 8em;
}

.muted-text {
  opacity: 75%;
}

.entry-field {
  background-color: var(--box-color);
  border: 0;
  border-radius: 4px;
  color: #DDD;
  padding: 4.5px;
  /* min-width: 16em; */
}
